{{#each this}}
<li class="gallery__item">
    <div class="gallery__photo-card">
        <div class="gallery__wrapper-img">
            <img class="gallery__img" src="{{webformatURL}}" alt="" largesrc="{{largeImageURL}}"
                data-large-img-src="{{largeImageURL}}" />
        </div>

        <div class="stats">
            <p class="stats__item">
                <i class="material-icons">thumb_up</i>
                {{likes}}
            </p>
            <p class="stats__item">
                <i class="material-icons">visibility</i>
                {{views}}
            </p>
            <p class="stats__item">
                <i class="material-icons">comment</i>
                {{comments}}
            </p>
            <p class="stats__item">
                <i class="material-icons">cloud_download</i>
                {{downloads}}
            </p>
        </div>
    </div>
</li>
{{/each}}